body {
  font-family: "Itim", static;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 20px 25px;
  box-sizing: border-box;
  overflow: hidden;
}

button:disabled {
  background-color: darkgray;
  cursor: default;
}

button:disabled:hover {
  background-color: darkgray;
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}
/* ==============Layout======================= */
.goBackBtn {
  position: absolute;
  top: 20px;
  left: 25px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: bisque;
}

.goBackBtn:hover {
  background-color: beige;
  color: #333;
}
/* ==============Main Page======================= */
.mainSection {
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  width: calc(100vw - 50px);
}

.mainWrapper {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.mainTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.mainList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainItem {
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mainItem:nth-child(odd) {
  background-color: #e8f4f8;
}

.mainItem:nth-child(even) {
  background-color: #f8e8e8;
}

.mainItem:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.mainItem a {
  text-decoration: none;
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}

.mainItem a:hover {
  text-decoration: underline;
}

/* ==============Counter styles======================= */
.counterWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.counterToggleWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.counterScore {
  font-size: 24px;
}

.counterButtonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.counterButtonPluss {
  padding: 5px;
  border-radius: 7px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.counterButtonPluss:hover {
  background-color: darkgreen;
}

.counterButtonMinus {
  padding: 5px;
  border-radius: 7px;
  background-color: red;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.counterButtonMinus:hover {
  background-color: darkred;
}

.counterResetButton {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: lightblue;
  color: black;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.counterResetButton:hover {
  background-color: aqua;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleSwitch.on {
  background-color: lightgreen;
}

.toggleThumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  transition: left 0.3s ease;
}

.toggleSwitch.on .toggleThumb {
  left: 33px;
}

/* ==============Modal window======================= */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalSection {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modalCross {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modalButton {
  padding: 5px;
  border-radius: 7px;
  background-color: blue;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modalButton:hover {
  background-color: aqua;
}

/* ==============Quizlet Page======================= */
.quizletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #6c63ff;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progressBarFill {
  height: 100%;
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff
  );
  transition: width 0.3s ease;
}

.quizCard {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  width: 300px;
  text-align: center;
}

.quizTitle {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 20px;
}

.quizOptions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.quizOption {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #333333;
}

.quizOption:hover {
  background-color: #e0e0e0;
}

.finalResultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  width: 300px;
  text-align: center;
}

.celebrationIcon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.finalResultText {
  font-size: 1.25rem;
  color: #333333;
  margin-bottom: 20px;
}

.restartButton {
  background-color: #ff0066;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restartButton:hover {
  background-color: #e6005c;
}

/* ==============Friend List======================= */

.friendListPage {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f2f4ff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px 40px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.clearButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
}

.clearButton:hover {
  color: #ff5722;
}

.friendList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.friendItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.friendItem:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.friendAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friendInfo {
  flex-grow: 1;
}

.friendName {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.friendEmail {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.addButton {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.inviteButton {
  width: 100%;
  padding: 10px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.inviteButton:hover {
  background-color: #b2320f;
}

.inviteSentMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.successIcon {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.backButton {
  background: #ff5722;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background: #e64a19;
}

/* ==============Currency converter======================= */
.converterSection {
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.currencyConverter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.converterBlocksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.exchangeRate {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #d0d2d7;
  border-radius: 5px;
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
}

.converterBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.converterHeader {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.currencyTabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.currencyTab {
  flex: 0 0 calc(20% - 10px);
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #d0d2d7;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.currencyTab.activeTab {
  background-color: #2db67c;
  color: #000;
  border-color: #2db67c;
  font-weight: bold;
}

.currencyTab:hover {
  background-color: #e9f6ef;
}

.inputWrapperConverter {
  position: relative;
  width: 100%;
}

.amountInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #d0d2d7;
  border-radius: 5px;
  font-size: 18px;
}

.clearButtonInput {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
  line-height: 1;
}

.clearButtonInput:hover {
  color: #ff5722;
}

.exchangeArrow {
  font-size: 24px;
  color: #888;
  align-self: center;
}

.exchangeRate {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.loadingText {
  font-size: 18px;
  color: #555;
}

/* ==============404======================= */

.errorPageWrapper {
  text-align: center;
  padding: 50px;
}

.errorPageTitle {
  font-size: 48px;
  color: #ff5722;
}

.errorPageText {
  font-size: 24px;
}
/* ==============Image Gallery======================= */

.gallerySection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: calc(100vh - 40px);
  width: calc(100vw - 50px);
}

.gallerySection > *:last-child {
  margin-top: auto;
}

.imageGalleryWrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.imageGalleyInputWrapper {
  display: flex;
  justify-content: center;
}

.imageGalleryInner {
  position: relative;
}

.imageGalleryInput {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.imageGallerySearchBtn {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imageGallerySearchBtn:hover {
  background-color: #0056b3;
}

.ImageGalleryList {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ImageGalleryList li {
  aspect-ratio: 4 / 3;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageGalleryList img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imageGalleryText {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  color: #555;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.pagination li {
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
